<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-5 sm:px-10">

        <div class="max-h-400 rounded-2xl w-3/3">
            <form [formGroup]="locationForm" (ngSubmit)="onSubmit()" class="flex flex-col p-8 pb-0 bg-card rounded-2xl shadow overflow-hidden">
                
                <!-- Nombre del Sensor -->
                <div class="flex flex-col gt-xs:flex-row mb-4">
                    <mat-label class="block mb-2">Nombre</mat-label>
                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pr-3">
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>
                
                <!-- Sección de Localizaciones -->
                <div class="flex flex-col w-full space-y-4" formArrayName="coordinates">
                    <mat-label class="block mb-2">Sensores</mat-label>
                    <div class="overflow-x-auto bg-white rounded-lg border border-gray-200">
                        <table class="min-w-full table-auto border-collapse rounded-t-lg overflow-hidden">
                            <thead>
                                <tr class="bg-gray-50">
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Latitud</th>
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Longitud</th>
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Cota</th>
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Alias</th>
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Dev_eui</th>
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Join_eui</th>
                                    <th class="px-4 py-3 text-left border-r" style="font-weight: normal;">Dev_addr</th>
                                    <th class="px-4 py-3 text-left" style="font-weight: normal;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cor of coordinates.controls; let i = index" [formGroupName]="i">
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="lat" class="w-full px-2 py-1" type="number" placeholder="Latitud">
                                    </td>
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="long" class="w-full px-2 py-1" type="number" placeholder="Longitud">
                                    </td>
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="height" class="w-full px-2 py-1" type="number" placeholder="Cota">
                                    </td>
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="alias" class="w-full px-2 py-1" placeholder="Alias">
                                    </td>
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="dev_eui" class="w-full px-2 py-1" placeholder="Dev_eui">
                                    </td>
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="join_eui" class="w-full px-2 py-1" placeholder="Join_eui">
                                    </td>
                                    <td class="px-4 py-2 border-r border-t">
                                        <input matInput formControlName="dev_addr" class="w-full px-2 py-1" placeholder="Dev_addr">
                                    </td>
                                    <td class="px-4 py-2 text-center border-t">
                                        <button mat-icon-button color="warn" (click)="eliminarCoordenada(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button mat-stroked-button color="accent" class="self-start mt-4" (click)="agregarCoordenada()">
                        + Agregar sensor
                    </button>
                </div>

                <!-- Botones de acción -->
                <div class="flex items-center justify-end border-t -mx-8 mt-4 px-8 py-5 bg-gray-50 dark:bg-gray-700 rounded-b-lg">
                    <button mat-button type="button" (click)="cancel()">Cancelar</button>
                    <button class="px-6 ml-3 text-white" mat-flat-button [color]="'primary'" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>                     

    </div>

</div>
