<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation
        class="dark bg-gray-900 print:hidden"
        [mode]="'over'"
        [name]="'mainNavigation'"
        [navigation]="navigation.default"
        [opened]="false">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex items-center h-20 pt-6 px-8">
                <img
                    class="w-20"
                    src="assets/images/GENESIS/ICONO/96X96/96 96.png"
                    alt="Logo image">
            </div>
        </ng-container>
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0 min-h-screen"> <!-- Añadido min-h-screen -->

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 sm:h-18 px-4 md:px-12 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex items-center mx-2 lg:mr-8">
                <div class="hidden lg:flex">
                    <img
                        class="dark:hidden w-9"
                        src="assets/images/GENESIS/ICONO/96X96/96 96.png">
                </div>
                <img
                    class="flex lg:hidden w-7"
                    src="assets/images/GENESIS/ICONO/96X96/96 96.png">
            </div>
            <!-- Horizontal navigation -->
            <fuse-horizontal-navigation
                class="mr-4"
                [name]="'mainNavigation'"
                [navigation]="navigationItems"></fuse-horizontal-navigation>
        </ng-container>

        <!-- Profile on the right -->
        <div class="ml-auto flex items-center" [matMenuTriggerFor]="menu"> <!-- Trigger para el menú -->
            <a [routerLink]="'/perfil'" class="flex items-center">
                <mat-icon class="icon-size-7" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                <h1 class="ml-4">{{ currentUser.username }}</h1>  <!-- Mostrar el nombre de usuario -->
            </a>
        </div>

        <mat-menu #menu="matMenu">
            <!-- Contenedor principal del menú -->
            <div class="menu menu-column menu-rounded menu-gray-600 menu-state-bg menu-state-primary fw-bold fs-6 w-275px">
              
              <!-- Contenedor para el nombre de usuario y su rol -->
              <button mat-menu-item disabled class="d-flex justify-between items-center py-1 px-4">
                <!-- Nombre de usuario -->
                <span class="text-gray-700 mr-6">{{ currentUser?.username }}</span>
          
                <!-- Rol del usuario (badge) -->
                <span class="badge px-2 ml-auto text-white rounded-lg"
                  [ngClass]="{
                    'bg-gray-500': currentUser?.rol === 0, 
                    'bg-primary': currentUser?.rol === 1
                  }">
                  {{ currentUser?.rol === 1 ? 'Admin' : 'Básico' }}
                </span>
              </button>
              
              <!-- Barra separadora entre los botones -->
              <mat-divider></mat-divider>
              
              <!-- Botón de cerrar sesión -->
              <button mat-menu-item (click)="signOut()" class="py-1">Cerrar sesión</button>
            </div>
        </mat-menu>                          

    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full overflow-auto"> <!-- Añadido overflow-auto para manejar el desbordamiento de contenido -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Genesis &copy; {{currentYear}}</span>
    </div>

</div>
