<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:px-10">
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pb-4 px-1">
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="flex flex-col">
                    <!-- Título "Crear usuario" -->
                    <div class="mr-8">
                        <a class="whitespace-nowrap text-secondary-500 md:text-2xl">Lista simulaciones</a>
                    </div>
                </div>                                
            </div>
            <!-- Actions -->
            <div class="relative mr-4">
                <input 
                    type="text"
                    [(ngModel)]="searchTerm"
                    (input)="filterSimulations()"
                    placeholder="Buscar..."
                    class="bg-white-200 border border-gray-300 text-gray-900 rounded-lg py-2 px-4 focus:outline-none focus:ring-1 focus:ring-sky-500"
                />
                <mat-icon 
                    class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
                    [svgIcon]="'heroicons_mini:magnifying-glass'"></mat-icon>
            </div>
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <button
                    class="ml-3 bg-sky-400 hover:bg-sky-500 text-white"
                    mat-flat-button [routerLink]="['crear']">
                    <mat-icon
                        class="icon-size-4"
                        [svgIcon]="'heroicons_mini:plus'"></mat-icon>
                    <span class="ml-2">Nueva</span>
                </button>
            </div>
        </div>
        <!-- CONTENT GOES HERE -->
        <div class="max-h-400 rounded-2xl">
            <!-- Simulaciones en ejecución -->
            <div *ngIf="activeSimulations.length > 0" class="p-4 mb-6 bg-white rounded-lg text-white">
                <div class="overflow-x-auto">
                    <table class="w-full table-auto bg-transparent">
                        <tbody>
                            <tr *ngFor="let activeSimulation of activeSimulations; let i = index" class="border-b">
                                <td class="px-6 py-2 whitespace-nowrap text-s text-gray-600">
                                    {{ activeSimulation.simulation.name }}
                                </td>
                                <td class="px-6 py-2 whitespace-nowrap text-s text-gray-600 flex justify-end items-center">
                                    <div class="flex items-center">
                                        <h class="mr-4">
                                            <span>Elementos generados: {{ getSimulationProgress(activeSimulation.simulation.id) }} </span>
                                        </h>
                                        <mat-progress-bar 
                                            mode="determinate" 
                                            [value]="getSimulationPercentage(activeSimulation.simulation.id)"
                                            style="width: 200px; height: 20px;"
                                            [color]="getSimulationPercentage(activeSimulation.simulation.id) === 100 ? 'primary' : 'warn'">
                                        </mat-progress-bar>
                                        <!-- <h class="ml-4">
                                            <span>{{ getSimulationPercentage(activeSimulation.simulation.id) }} %</span>
                                        </h> -->
                                    </div>
                                    <!-- <h class="ml-12 text-s text-gray-600">
                                        {{ formatElapsedTime(activeSimulation.elapsedTime) }}
                                    </h> -->
                                    <button 
                                        (click)="togglePauseSimulation(activeSimulation.simulation.id)" 
                                        class="bg-gray-50 px-4 py-2 rounded flex items-center mr-2 shadow ml-10">
                                        <span class="material-icons text-xl">
                                            {{ activeSimulation.isPaused ? 'play_arrow' : 'pause' }} <!-- Cambiar entre 'play_arrow' y 'pause' -->
                                        </span>
                                    </button>                                
                                    <!-- Botón de detener -->
                                    <button (click)="toggleSimulation(activeSimulation.simulation.id)" class="bg-gray-50 text-red-500 px-4 py-2 rounded flex items-center mr-2 shadow ml-2">
                                        <span class="material-icons text-xl">stop</span>
                                    </button>
                                </td>
                            </tr>                                                     
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="grid grid-cols-1 gap-8 w-full">
                <!-- Recent transactions table -->
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
                    <div class="overflow-x-auto mx-6 mb-4 mt-5">
                        <table class="w-full table-auto bg-transparent">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider">Usuario</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider">ID</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider w-2/6">Nombre</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider">Sensor</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider">Conexión</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider" matTooltip="Número de elementos a simular" matTooltipPosition="above">Nº Elem</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider" matTooltip="Registros por instante" matTooltipPosition="above">Reg. Inst.</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider" matTooltip="Intervalo entre registros" matTooltipPosition="above">Int. Reg.</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider flex justify-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Iterar sobre las simulaciones -->
                                <tr *ngFor="let simulation of paginatedSimulations" class="cursor-pointer" (click)="openSimulation(simulation.id)">
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ getUserName(simulation.userId) }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ simulation.id }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600" (click)="openSimulation(simulation.id)">
                                    {{ simulation.name }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ getSensorName(simulation.sensorId) }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600 flex items-center">
                                        <!-- Condición para mostrar la imagen de MQTT o API -->
                                        <img *ngIf="getConnectionType(simulation.connectionId) === -1" class="w-5 h-6 object-contain mr-2" />
                                        <img *ngIf="getConnectionType(simulation.connectionId) === 0" src="assets/images/varios/mqtt.png" alt="MQTT" class="w-5 h-6 object-contain mr-2" />
                                        <img *ngIf="getConnectionType(simulation.connectionId) === 1" src="assets/images/varios/api.png" alt="API" class="w-5 h-6 object-contain mr-2" />
                                        
                                        <!-- Nombre de la conexión -->
                                        {{ getConnectioName(simulation.connectionId) }}
                                    </td>                                                                                                              
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ simulation.numElementosASimular === 0 ? '∞' : simulation.numElementosASimular }} </td>                                    
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ simulation.minRegistrosPorInstante }}-{{ simulation.maxRegistrosPorInstante }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ simulation.minIntervaloEntreRegistros }}-{{ simulation.maxIntervaloEntreRegistros }} s</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s text-gray-600 space-x-2 flex justify-end" (click)="onCellClick($event)">
                                        <!-- Botón de Ejecutar -->
                                        <button mat-icon-button (click)="simularInstantaneamente(simulation.id)">
                                            <mat-icon>rocket</mat-icon>
                                        </button>
                                        <!-- Botón de Ejecutar -->
                                        <button mat-icon-button (click)="toggleSimulation(simulation.id)">
                                            <mat-icon>play_arrow</mat-icon>
                                        </button>
                                        <!-- Ícono de tres puntos para el menú desplegable -->
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <!-- Menú desplegable -->
                                        <mat-menu #menu="matMenu">  
                                            <!-- Botón de Duplicar -->
                                            <button mat-menu-item (click)="duplicateSimulation(simulation)">
                                                Duplicar
                                            </button>                                        
                                            <!-- Botón de Eliminar -->
                                            <button mat-menu-item (click)="confirmDelete(simulation.id)" class="text-red-500">
                                                Eliminar
                                            </button>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Paginador -->
                        <div class="flex justify-end mt-2">
                            <mat-paginator
                                [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 25]"
                                [length]="filteredSimulations.length"
                                showFirstLastButtons
                                (page)="changePage($event)"
                                class="p-0">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación -->
<div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    *ngIf="showModal"
>
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
        <h2 class="text-lg font-semibold text-gray-800">Confirmar eliminación</h2>
        <p class="mt-4 text-sm text-gray-600">
            ¿Estás seguro de que deseas eliminar esta simulación? Esta acción no se puede deshacer.
        </p>
        <div class="mt-6 flex justify-end space-x-4">
            <button
                class="px-4 py-2 text-base font-medium text-gray-600 hover:text-gray-800"
                (click)="cancelDelete()">
                Cancelar
            </button>
            <button
                class="px-4 py-2 text-base font-medium text-white bg-red-500 hover:bg-red-600 rounded"
                (click)="deleteSimulation()">
                Eliminar
            </button>
        </div>
    </div>
</div>

